Source: gst-dsp
Section: libs
Priority: optional
Maintainer: Maemo Multimedia <multimedia@maemo.org>
Build-Depends: debhelper (>= 5), libgstreamer0.10-dev, quilt
Standards-Version: 3.9.1

Package: gstreamer0.10-dsp
Architecture: armel
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GStreamer plug-in for TI's OMAP DSP.

Package: gstreamer0.10-dsp-dbg
Section: debug
Priority: extra
Architecture: armel
Depends: ${misc:Depends}, gstreamer0.10-dsp (= ${binary:Version})
Description: Debug symbols for gst-dsp.

Package: gstreamer0.10-dsp-test
Architecture: armel
Section: misc
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Extra utilities to test gst-dsp.
